:root {
  --transparent: rgba(247, 247, 247, 0.95);
  --pink: #df7683;
  --purple: #a89cc8;
  --pear: #8cc9f0;
  --white: white;
  --black: black;
  --darkBlack: #636363;
  --gray: #dddddd;
  --lightGray: rgba(255, 255, 255, 0.65);
  --lightWhite: rgba(0, 0, 0, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--pink);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.65;
  color: white;
}

h1 {
  font-size: 3.25em;
  font-weight: 500;
  padding: 0px;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--darkBlack);
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
h4 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  width: 55em;
  max-width: calc(100% - 4em);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  text-align: center;
  color: var(--white);
  letter-spacing: -0.025em;
  margin-top: 150px;
}

.header p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
  color: var(--lightGray);
  padding: 0;
  margin: 0;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "nav-bar"
    "main-content"
    "content-two"
    "content-three";
  background: white;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.nav-bar {
  grid-area: nav-bar;
  background: #f7f7f7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 1em;
  transition: background-color 0.2s ease, border-top-left-radius 0.2s ease,
    border-top-right-radius 0.2s ease, padding 0.2s ease;
}

.nav-bar ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  justify-content: center;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--transparent);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 0.9em;
  padding: 0.5em 1em;
}

.nav-bar li {
  transition: margin 0.2s ease;
}

.nav-bar a {
  display: inline-block;
  text-decoration: none;
  color: #6b6b6b;
  padding: 0 1.2em;
  border-radius: 8px;
  height: 2.25em;
  line-height: 2.25em;
  transition: font-size 0.2s ease;
}

.nav-bar li a.active {
  background-color: var(--white);
}

.nav-bar li a:hover {
  background-color: #f1f1f1ea;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-gap: 50px;
  grid-template-areas:
    "text image"
    "skill game";
  grid-template-columns: 1fr auto;
  align-items: center;
  color: black;
  border-bottom: 0.6px solid var(--gray);
  padding: 2em 5em 3em 5em;
}

.content-text {
  grid-area: text;
  text-align: justify;
}

.content-text h2:after {
  display: block;
  content: "";
  height: 2px;
  width: 3.25em;
  border-radius: 2px;
  background-color: var(--gray);
  background-image: linear-gradient(
    90deg,
    var(--pink),
    var(--purple),
    var(--pear)
  );
}

.content-text p {
  color: var(--darkBlack);
  font-size: 0.8em;
}

.image-container-main {
  grid-area: image;
  border: 5px solid var(--gray);
  border-radius: 100%;
  padding: 0.65em;
  display: grid;
  padding: 0.5em;
}

.image-container-main img {
  border-radius: 100%;
  width: 13em;
}

.skill {
  grid-area: skill;
}

.progress-bar-container {
  width: 100%;
  height: 0.5em;
  background-color: var(--lightGray);
  box-shadow: 0 2px 5px var(--lightWhite) inset;
  border-radius: 12px;
  margin: 0.3em 0 0.5em 0;
}

.progress-bar {
  border-radius: 12px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  background-color: #efa8b0;
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), var(--lightWhite)),
    -webkit-linear-gradient(left, var(--pink), var(--purple), var(--pear));
  width: 90%;
  height: 0.5em;
}

.skill > div:nth-child(2) > div {
  animation: first 3s normal forwards;
}

.skill > div:nth-child(4) > div {
  animation: second 3s normal forwards;
}

.skill > div:nth-child(6) > div {
  animation: third 3s normal forwards;
}

.skill > div:nth-child(8) > div {
  animation: fourth 3s normal forwards;
}

.skill > div:nth-child(10) > div {
  animation: five 3s normal forwards;
}

@keyframes first {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes second {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes third {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes fourth {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes five {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

.profess {
  padding: 0;
  margin: 0;
}

.progress-text {
  font-size: 0.6em;
  font-weight: 560;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.content-two {
  grid-area: content-two;
  border-bottom: 0.5px solid var(--gray);
  padding: 0em 5em 3em 5em;
  text-align: center;
}

.line {
  color: var(--black);
  font-size: 2em;
}

.line:after {
  display: block;
  content: "";
  height: 2px;
  width: 3.25em;
  border-radius: 2px;
  background-color: var(--gray);
  margin: 0 auto;
  background-image: linear-gradient(
    90deg,
    var(--pink),
    var(--purple),
    var(--pear)
  );
}

.content-two p {
  color: var(--black);
  font-size: 0.8em;
}

.portfolio-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.portfolio-item .card {
  background-color: thistle;
  height: 200px;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.card img {
  width: 50%;
}

.portfolio-item .card:nth-child(1) {
  background-color: var(--pink);
  text-align: center;
}

.portfolio-item .card:nth-child(2) {
  background-color: var(--purple);
  text-align: center;
}

.portfolio-item .card:nth-child(3) {
  background-color: var(--pear);
  text-align: center;
}

.inner-card {
  display: block;
  background-color: rgba(0, 0, 0, 0.767);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  display: grid;
  opacity: 0;
  transition: opacity 0.51s ease-out, padding 0.5s ease-out;
}

.inner-card:hover {
  opacity: 10;
  padding: 25px;
}

.inner-card div {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px dashed #ffffff;
  transition: padding 1s;
}

.inner-card div:hover {
  padding: 15px;
}

.inner-card div h4 {
  text-transform: capitalize;
}

.inner-card div a {
  text-decoration: none;
  padding: 0.1em 0.1em;
  text-align: center;
  color: var(--darkBlack);
  border: 1px solid var(--gray);
  border-radius: 19px;
  line-height: 2.75em;
  min-width: 9.25em;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 0.6em;
}

.inner-card a:hover {
  background-color: var(--pink);
  border: 1px solid var(--pink);
  color: var(--white);
}

#portfolio > div > div:nth-child(2) > div > div > a:hover {
  border: 1px solid var(--purple);
  background-color: var(--purple);
}

#portfolio > div > div:nth-child(3) > div > div > a:hover {
  border: 1px solid var(--pear);
  background-color: var(--pear);
}

.content-three {
  grid-area: content-three;
  text-align: center;
  color: var(--black);
  padding: 0em 5em 3em 5em;
}

.contact {
  color: var(--white);
  border-radius: 0.25em;
  text-align: center;
  margin: 0 auto;
}

.contact ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contact li {
  transition: margin 0.2s ease;
  background-color: var(--pink);
}

.contact li a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.8em;
  padding: 1.5em;
  line-height: 2.25em;
  transition: font-size 0.2s ease;
  display: grid;
}

.contact li:nth-child(2) {
  background-color: #c79cc8;
}

.contact li:nth-child(3) {
  background-color: var(--purple);
}

.contact li:nth-child(4) {
  background-color: #9bb2e1;
}

.contact li:nth-child(4) {
  background-color: var(--pear);
}

.contact li i {
  font-size: 6rem;
  font-weight: 900;
}

.modal-window {
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  overflow: auto;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

modal-window > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: "details message";
  grid-template-columns: 1fr 1fr;
  padding: 1em 5em 3em 5em;
  width: 70%;
  justify-items: end;
  margin: 0 auto;
}

.details {
  grid-area: details;
}

.message {
  grid-area: message;
}

footer h2 {
  font-size: 1.1em;
  color: var(--white);
}

footer p {
  text-align: justify;
  color: var(--lightGray);
  font-size: 0.6em;
}

.end {
  font-size: 0.5em;
  margin-bottom: 10em;
  text-align: center;
}

@media screen and (max-width: 1149px) {
  .image-container-main img {
    width: 10em;
  }
}

@media screen and (max-width: 900px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text"
      "skill";
    justify-items: center;
    align-items: center;
    padding: 2em 2em 4em 2em;
  }
  .nav-bar a {
    font-size: 0.8em;
  }
  .content-two {
    padding: 2em 2em 4em 2em;
  }

  .content-three {
    padding: 2em 2em 4em 2em;
  }

  h3 {
    text-align: center;
  }

  .image-container-main {
    justify-content: center;
    align-content: center;
  }

  .skill {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .portfolio-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    justify-items: start;
    padding: 0;
    font-size: 14pt;
    grid-template-columns: 1fr;
    grid-template-areas:
      "details"
      "message";
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 11pt;
  }
  .portfolio-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .content-text p {
    font-size: 1em;
  }
  .nav-bar {
    display: none;
  }
}
